*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos para el contenedor del logo */
.logo-container {
    width: 350px;         /* Ajusta el tamaño del contenedor del logo según sea necesario */
    height: auto;         /* Ajusta la altura automáticamente para mantener la relación de aspecto */
    margin: 0 auto;       /* Centra el logo horizontalmente si el contenedor tiene un ancho fijo */
    display: flex;        /* Usa flexbox para centrar el logo si es necesario */
    justify-content: center; /* Centra el logo horizontalmente */
    align-items: center;  /* Centra el logo verticalmente */
    padding: 10px;        /* Añade algo de espacio alrededor del logo si es necesario */
}

/* Estilos para la imagen del logo */
.logo-container img {
    max-width: 100%;      /* Asegúrate de que la imagen no exceda el contenedor */
    height: auto;        /* Mantiene la proporción de la imagen */
}


h1 {
    text-align: center;
}
body{
background-repeat: no-repeat;
background-color: orange;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;

}

.image-container {
    width: 100%;          /* Full width of the card or parent container */
    height: 400px;        /* Fixed height for the image container; adjust as needed */
    display: flex;        /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center;  /* Center the image vertically */
    overflow: hidden;     /* Hide overflow to ensure image doesn't spill out */
}

.image-container img {
    max-width: 100%;      /* Ensure image does not exceed container width */
    max-height: 100%;     /* Ensure image does not exceed container height */
    object-fit: contain;  /* Scale the image to fit the container while preserving aspect ratio */
}


article{
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
    /* background-color: orange; */

}